{% extends 'base.html' %}
{% block title %} Proyectos {% endblock %}

{% block content %}

<section class="container">
	<table class="table table-strip mt-5">
		<th>Proyecto</th>
		<th>Estado</th>
		{% for j in object_list %}
			<tr>
				<td>{{ j.nombre_proyecto }} </td>
				<td>{{ j.estado }}</td>
				<td><a href="{%url 'detalle_proyecto_view' j.id%}" class="btn btn-dark">Detalle</a></td>
				<td><a href="#" class="btn btn-dark">Actualizar</a></td>
			</tr>

			{% empty %}
			{% if request.GET.q %}
				No se entontro avance
			{% else %}
				No hay datos
			{% endif %}
		{% endfor %}
	</table>  
</section>
{% endblock %}