{% extends 'base.html' %}
{% block title %} Personal {% endblock %}

{% block content %}

<section class="container">
	<table class="table table-strip mt-5">
		<th>Nombre</th>
		<th>Cargo</th>
		{% for j in object_list %}
			<tr>
				<td>{{ j.nombre_personal }} </td>
				<td>{{ j.cargo }}</td>
				<td><a href="{% url 'detalle_personal_view' j.nombre_personal%}" class="btn btn-dark">Detalle</a></td>
				<td><a href="#" class="btn btn-dark">Actualizar</a></td>
			</tr>

			{% empty %}
			{% if request.GET.q %}
				No se entontro personal
			{% else %}
				No hay datos
			{% endif %}
		{% endfor %}
	</table>  
</section>
{% endblock %}